################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API/CopilotIndices/17.14.1431.25910
/.vs/GitDXSalesAPI/CopilotIndices/17.14.1431.25910
/.vs/API/FileContentIndex
/.vs/GitDXSalesAPI/FileContentIndex
